.gh-projects-list
  .gh-project-item
    height: 60px
    border-radius: 3px
    border: 1px $light-grey solid
    margin-bottom: 10px

    .project
      height: inherit
      border-right: 1px $light-grey solid

    .button
      position: relative
      top: 15px
