.gh-projects-list
  .items
    border-top: 1px solid $dark-grey
    margin-top: 10px

  .gh-project-item
    border-bottom: 1px solid $light-grey

    .listing
      border-radius: 3px

      .button
        position: relative
        top: 15px
        float: right

    .new-project-form
      margin-top: 10px
      display: none

      &.active
        display: block
