.gh-projects-list
  .gh-project-item
    margin-bottom: 30px

    .listing
      border-radius: 3px

      .project
        padding-left: 10px
        height: inherit
        border-right: 1px $light-grey solid

      .button
        position: relative
        top: 15px

    .new-project-form
      margin-top: 10px
      display: none

      &.active
        display: block
