.user-info
  border-bottom: 1px solid $dark-grey

  img
    margin-right: 20px
    padding: 5px
    border: 1px solid $light-grey

.messages-list
  .message-item
    border-bottom: 1px solid $light-grey
    padding-top: 10px

    .details
      display: none

      &.active
        display: block