.projects-list
  .project-item
    border-bottom: 1px solid $light-grey

    .buttons
      position: relative
      top: 15px

    div.view-project
      display: none

      &.active
        display: block

      button.last-commit
        display: block
        margin-bottom: 10px

    div.edit-project
      display: none

      &.active
        display: block

      input[type="checkbox"]
        margin-bottom: 10px

    .deploys
      .row
        padding-top: 10px
        border-top: 1px solid $light-grey

        p
          font-size: 12px

        a.btn 
          position: relative
          top: -5px

      &:last
        border-bottom: 1px solid $light-grey
