.projects-list
  .project-item

    .buttons
      position: relative
      top: 15px

    div.view-project
      display: none

      &.active
        display: block

    div.edit-project
      display: none

      &.active
        display: block
