.projects-list
  .project-item
    border-bottom: 1px solid $light-grey

    .buttons
      position: relative
      top: 15px

    div.view-project
      display: none

      &.active
        display: block

    div.edit-project
      display: none

      &.active
        display: block

    .deploys
      .row
        padding-top: 5px
        padding-bottom: 5px
        border-top: 1px solid $light-grey

      &:last
        border-bottom: 1px solid $light-grey
