<div class="span9 project">
  <h3><a href="#">{{ name }}</a>
  {{#if description}}
    <small>{{ description }}</small>
  {{/if}}
  </h3>
</div>
<div class="span2 button">
  <button class="btn btn-primary pull-right">Add Project</button>
</div>
