<div class="row listing">
  <div class="span9 project">
    <h3><a href="#">{{ name }}</a>
      {{#if description}}
      <small>{{ description }}</small>
      {{/if}}
    </h3>
  </div>
  <div class="span2 button">
    <button class="btn btn-primary pull-right add-project">Add Project</button>
  </div>
</div>

<div class="row new-project-form">
  <form>
    <fieldset>
      <legend>New Zookeeper Project from {{ name }}</legend>
      <div class="span6">
        <label>S3 Bucket Name</label>
        <input name="s3-bucket" type="text" />
        <label>Git Branch</label>
        <input name="git-branch" type="text" value="master"/>
      </div>
      <div class="span6">
        <label>Build Step</label>
        <input name="build-step" type="text" placeholder="bash command that builds project" />
        <label>Build Directory</label>
        <input name="build-dir" type="text" placeholder="directory previous script build into" />
        <br />
        <button type="submit" class="btn">Create New Project</button>
      </div>
    </fieldset>
  </form>
</div>

    
