<ul class="nav">
  <li><a href="#">Home</a>
  <li class="divider-vertical"></li>
  <li><a href="#">Projects</a><span class="label label-warning">1</span></li>
  <li class="divider-vertical"></li>
  <li><a href="#">Add Project</a></li>
  <form class="navbar-serach pull-right">
    <input type="text" class="search-query" placeholder="Search">
  </form>
</ul>
