<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ selected }}</a>
<ul class="dropdown-menu" role="menu" aria-labbledby="dropdownMenu">
  {{#each orgs}}
  <li><a tabindex="-1" href="#" data-org="{{ this }}">{{ this }}</a></li>
  {{/each}}
</ul>
